<!DOCTYPE html>
<html>
  <head>
    <title>AB 109</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- Client Information -->
    <h1>Client Profile</h1><br>
    <table class="table-border" style="width:100%">
      <!-- 1st Row -->
      <tr>
        <td>Name:</td>
        <td>Client/Parole #:</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <!-- 2nd Row -->
      <tr>
        <td>Phone:</td>
        <td>Email:</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <!-- 3rd Row -->
      <tr>
        <td>Address:</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table><br><br>
    <!-- Tab Folder -->
    <div class="tab">
      <a class="tablinks" href="activitylog">Activity Log</a>
      <a class="tablinks" href="#" id="defaultOpen" style="background-color:#ccc">AB 109</a>
      <a class="tablinks" href="documents">Documents</a>
      <a class="tablinks" href="bcrequest">B.C. Request</a>
    </div>
    <!-- Tab Content -->
    <div class="tab-content">
      <form id="formAddClient" name="addclient" method="post" action="/addclient" disabled>
        <!-- Edit and Save buttons for AB 109 fields (Set #1) -->
        <br><button type="edit" id="btnEdit1" onclick="return handleEdit()">Edit</button>
        <button type="submit" id="btnSubmit1" hidden>Save</button>
        <!-- Date -->
        <h5>Today's Date</h5>
        <input id="inputDate" type="date" name="date" disabled/><br><br>
        <!-- Additional Information -->
        <input id="checkbox1" type="checkbox" value="PCS" name="checkbox" disabled> PCS
        <input id="checkbox2" type="checkbox" value="Parole" name="checkbox" disabled> Parole
        <input id="checkbox3" type="checkbox" value="MS" name="checkbox" disabled> MS
        <input id="checkbox4" type="checkbox" value="Probation" name="checkbox" disabled> Probation
        <input id="checkbox5" type="checkbox" value="Vet" name="checkbox" disabled> Vet
        <h5> CDC # (State Prison #)</h5>
        <input id="inputCDCNumber" type="text" placeholder="CDC/Parole #" name="cdcNumber" disabled/>
        <h5>Booking #</h5>
        <input id="inputBookingNumber" type="text" placeholder="Booking #" name="bookingNumber" disabled/>
        <!-- Client name -->
        <h5>Client Name</h5>
        <input id="inputName1" type="text" placeholder="First Name" name="name" disabled/>
        <input id="inputName2" type="text" placeholder="Middle Name" name="name" disabled/>
        <input id="inputName3" type="text" placeholder="Last Name" name="name" disabled/>
        <!-- Client phone number and alt number -->
        <h5>Phone Number</h5>
        <input id="inputPhoneNumber" type="tel" placeholder="XXX-XX-XXXX" name="phoneNumber"
          pattern="[0-9]{3}-[0-9]{2}-[0-9]{4}" disabled/>
        <input id="radio1" type="radio" value="cellPhone" name="phoneNumberType" disabled> Cell Phone
        <input id="radio2" type="radio" value="homePhone" name="phoneNumberType" disabled> Home Phone<br>
        <h5>Alternate Contact Information</h5>
        <input id="inputAltContactNumber" type="tel" placeholder="XXX-XX-XXXX" name="altContactNumber"
          pattern="[0-9]{3}-[0-9]{2}-[0-9]{4}" disabled/>
        <input id="inputAltContactName" type="text" placeholder="Alt Contact Name" name="altContactName" disabled/>
        <input id="inputAltContactRelationship" type="text" placeholder="Alt Contact Relationship"
          name="altContactRelationship" disabled/>
        <!-- Client Email -->
        <h5>Email</h5>
        <input id="inputClientEmail" type="text" placeholder="Email" name="email" disabled/>
        <!-- Client Address -->
        <h5>Address</h5>
        <input id="inputAddressStreet" type="text" placeholder="Street" name="addressStreet" disabled/>
        <input id="inputAddressCity" type="text" placeholder="City" name="addressCity" disabled/>
        <input id="inputAddressState" type="text" placeholder="State" name="addressState" disabled/>
        <input id="inputAddressZipcode" type="text" placeholder="Zipcode" name="addressZipcode" disabled/>
        <!-- Client Birthday -->
        <h5>Birthday</h5>
        <input id="inputBirthday" type="date" name="birthday" disabled/>
        <!-- Client Place of Birth -->
        <h5>Place of Birth</h5>
        <input id="inputBirthCity" type="text" placeholder="City" name="birthCity" disabled/>
        <input id="inputBirthState" type="text" placeholder="State" name="birthState" disabled/>
        <input id="inputBirthCounty" type="text" placeholder="County" name="addressCounty" disabled/>
        <input id="inputBirthHospital" type="text" placeholder="Hospital Name" name="hospitalName" disabled/>
        <input id="inputBirthCountry" type="text" placeholder="Country" name="birthCountry" disabled/>
        <!-- Client Driver's License / ID -->
        <h5>Driver's License or ID #</h5>
        <input id="inputID" type="text" placeholder="Driver's License/ID #" name="id" disabled/>
        <!-- Client Social Security -->
        <h5>Social Security</h5>
        <input id="inputSocialSecurity" type="text" placeholder="XXX-XX-XXXX" name="socialSecurity"
          pattern="[0-9]{3}-[0-9]{2}-[0-9]{4}" disabled/>
        <!-- Program -->
        <h5>Program</h5>
        <input id="inputProgram" type="text" placeholder="Program" name="program" disabled/>
        <input id="inputTimeLeft" type="text" placeholder="Time Left" name="timeLeft" disabled/>
        <!-- Parent Information -->
        <h5>Parents' Information</h5>
        <input id="inputMotherName" type="text" placeholder="Mother's Full Name" name="motherName" disabled/><br>
        <input id="inputFatherName" type="text" placeholder="Father's Full Name" name="fatherName" disabled/>
        <!-- Client Services/Resources -->
        <h5>Client Services/Resources</h5>
        <table style="width:100%">
          <tr>
            <td>
              <input id="checkbox6" type="checkbox" value="CA ID Fee Waiver" name="servicesResources" disabled/> California ID Fee Waiver
            </td>
            <td>
              <input id="checkbox7" type="checkbox" value="In & Out Date Releases" name="servicesResources" disabled/> In & Out Date Releases
            </td>
          </tr>
          <tr>
            <td>
              <input id="checkbox8" type="checkbox" value="Cell Phone" name="servicesResources" disabled/> Cell Phone
            </td>
            <td>
              <input id="checkbox9" type="checkbox" value="Legal Help (Civil, Criminal, etc)" name="servicesResources" disabled/> Legal Help (Civil, Criminal, etc)
            </td>
          </tr>
          <tr>
            <td>
              <input id="checkbox10" type="checkbox" value="Dental" name="servicesResources" disabled/> Dental
            </td>
            <td>
              <input id="checkbox11" type="checkbox" value="Medical Releases" name="servicesResources" disabled/> Medical Releases
            </td>
          </tr>
          <tr>
            <td>
              <input id="checkbox12" type="checkbox" value="Education" name="servicesResources" disabled/> Education
            </td>
            <td>
              <input id="checkbox13" type="checkbox" value="New Leaf" name="servicesResources" disabled/> New Leaf
            </td>
          </tr>
          <tr>
            <td>
              <input id="checkbox14" type="checkbox" value="Employment/Cal-Works" name="servicesResources" disabled/> Employment/Cal-Works
            </td>
            <td>
              <input id="checkbox15" type="checkbox" value="Social Security App" name="servicesResources" disabled/> Social Security App
            </td>
          </tr>
          <tr>
            <td>
              <input id="checkbox16" type="checkbox" value="Food Bank" name="servicesResources" disabled/> Food Bank
            </td>
            <td>
              <input id="checkbox17" type="checkbox" value="RAP sheet" name="servicesResources" disabled/> RAP sheet
            </td>
          </tr>
          <tr>
            <td>
              <input id="checkbox18" type="checkbox" value="Food Stamps/Medi-Cal" name="servicesResources" disabled/> Food Stamps/Medi-Cal
            </td>
            <td>
              <input id="checkbox19" type="checkbox" value="Vision/Glasses" name="servicesResources" disabled/> Vision/Glasses
            </td>
          </tr>
          <tr>
            <td>
              <input id="checkbox20" type="checkbox" value="General Relief" name="servicesResources" disabled/> General Relief
            </td>
            <td>
              <input id="checkbox21" type="checkbox" value="Prop 47" name="servicesResources" disabled/> Prop 47
            </td>
          </tr>
        </table>
        <!-- Notes -->
        <h5>Notes</h5>
        <input id="inputNotes" type="text" placeholder="Notes" name="notes" disabled/><br><br>
        <!-- Edit and Save buttons for AB 109 fields (Set #2) -->
        <button type="edit" id="btnEdit2" onclick="return handleEdit()">Edit</button>
        <button type="submit" id="btnSubmit2" hidden>Save</button><br>
      </form>
    </div>
    <!-- Scroll back to top of the page button -->
    <button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>
  </body>

  <script src="javascripts/myScript.js"></script>
</html>
