<!DOCTYPE html>
<html>
  <head>
    <title>Activity Log</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- Client Information -->
    <h1>Client Profile</h1><br>
    <table style="width:100%">
      <!-- 1st Row -->
      <tr>
        <td>Name:</td>
        <td>Client/Parole #:</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <!-- 2nd Row -->
      <tr>
        <td>Phone:</td>
        <td>Email:</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <!-- 3rd Row -->
      <tr>
        <td>Address:</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table><br><br>
    <!-- Tab Folder -->
    <div class="tab">
      <a class="tablinks" href="#" id="defaultOpen" style="background-color:#ccc">Activity Log</a>
      <a class="tablinks" href="ab109">AB 109</a>
      <a class="tablinks" href="documents">Documents</a>
      <a class="tablinks" href="bcrequest">B.C. Request</a>
    </div>
    <!-- Scroll back to top of the page button -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
  </body>
  
  <script src="javascripts/myScript.js"></script>
</html>
