<!DOCTYPE html>
<html>
  <head>
    <title>Documents</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- Client Information -->
    <h1>Client Profile</h1><br>
    <table style="width:100%">
      <!-- 1st Row -->
      <tr>
        <td>Name:</td>
        <td>Client/Parole #:</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <!-- 2nd Row -->
      <tr>
        <td>Phone:</td>
        <td>Email:</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <!-- 3rd Row -->
      <tr>
        <td>Address:</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table><br><br>
    <!-- Tab Folder -->
    <div class="tab">
      <a id="defaultOpen" class="tablinks" href="activitylog" style="background-color:#ccc">Activity Log</a>
      <a class="tablinks" href="ab109">AB 109</a>
      <a class="tablinks" href="documents">Documents</a>
      <a class="tablinks" href="bcrequest">B.C. Request</a>
    </div>
    <!-- Tab Content -->
    <div id="wrapper" class="tab-content"><br>
      <table align='center' cellspacing=1 cellpadding=9 id="data_table" border=1>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Description</th>
        </tr>
        <tr>
          <td><input type="text" id="new_user"></td>
          <td><input type="text" id="new_date"></td>
          <td><input type="text" id="new_des"></td>
          <td><input type="button" class="add" onclick="add_row();" value="Add"></td>
        </tr>
        <tr id="row1">
          <td id="user_row1">Default</td>
          <td id="date_row1">Default Date</td>
          <td id="des_row1">Client profile created</td>
          <td>
          <!-- Deleted edit and save button -->
          <input type="button" value="Delete" class="delete" onclick="delete_row('1')">
          </td>
        </tr>
      </table><br>
    </div>
    <!-- Scroll back to top of the page button -->
    <button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>
  </body>

  <script src="javascripts/myScript.js"></script>
</html>
