<!DOCTYPE html>
<html>
  <head>
    <title>Client List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Client List</h1>
    <ul>
      <%
        var list = '';
        for (i = 0; i < clientlist.length; i++) {
          list += '<li><a href="mailto:' + clientlist[i].email + '">' +
            clientlist[i].name[0] + ' ' + clientlist[i].name[1] +
            ' ' + clientlist[i].name[2] + '</a></li>';
        }
      %>
      <%- list %>
    </ul>
    <!-- Scroll back to top of the page button -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
  </body>

  <script src="javascripts/myScript.js"></script>
</html>
